html,
body {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: white;
	background-color: black;
	opacity: 0.9;
	margin: 0;
	text-align: center;
}

main {
	margin-bottom: 50px;
}

nav {
	margin: 0 auto;
	width: 80%;
}

h1 {
	margin: 30px;
}

img {
	width: 60%;
	border-radius: 10px;
}

.page-item {
	color: blue;
	outline: none;
}

.pagination {
	outline: none;
	margin: 10px auto;
}

#previous a,
#next a {
	color: blue;
}

#alert {
	display: none;
	width: 60%;
	margin: 20px auto;
}

#alert-dismiss {
	outline: none;
}
